<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>README</title>
</head>
<body>
    <h1>README - Shir</h1>
    <p><strong>Store Name:</strong> Sneakers Store</p>
    <p><strong>What are you selling?</strong> </p>
    <p><strong>Additional Pages Added:</strong> </p>
    <p><strong>How to Operate:</strong> </p>
    <p><strong>Challenges Faced:</strong> </p>
    <p><strong>Partner Information:</strong></p>
    <ul>
        <li><strong>Name:</strong> </li>
        <li><strong>ID:</strong> </li>
    </ul>
    <p><strong>Your Contributions:</strong> </p>
    <p><strong>Partner’s Contributions:</strong> </p>
    <p><strong>Supported Routes:</strong></p>
    <ul>
    </ul>
    <div></div>
    <h1>README - Shani</h1>
    <p><strong>Store Name:</strong> Sneakers Store</p>
    <p><strong>What are you selling?</strong> </p>
    <p><strong>Additional Pages Added:</strong> </p>
    <p><strong>How to Operate:</strong> </p>
    <p><strong>Challenges Faced:</strong> </p>
    <p><strong>Partner Information:</strong></p>
    <ul>
        <li><strong>Name:</strong> </li>
        <li><strong>ID:</strong> </li>
    </ul>
    <p><strong>Your Contributions:</strong> </p>
    <p><strong>Partner’s Contributions:</strong> </p>
    <p><strong>Supported Routes:</strong></p>
    <ul>
    </ul>
</body>
</html>
